.attraction{
  display: flex;
  flex-basis: 100%;

  @media @mobile-width {
    flex-direction: column;
  }

  @media @tablet-width {
  }
  @media @desktop-width {
    justify-content: space-between;
  }
  &__title{
    margin-bottom: 50px;
  }


  &__field-wrapper:not(:last-child){
    margin: 0 0 35px 0;
  }
  &__lable{
    .bold-label();

    &:before{
      .inline-middle();
      width: 60px;
      height: 60px;
      content: "";
      border-radius: 5px;
      background: @gray-background;
      margin: 0 25px 0 0;
    }
  }
  input:checked + label:before{
    background: @gray-background url("@{imagesPath}icon-tick.svg") no-repeat center center;
    background-size: 24px 17px;
  }
}
