@media @tablet-width{
  .impression-fieldset{
    width: 330px;
    border-right: 1px solid @gray-color;
  }
}
@media @tablet-width {
  .impression-fieldset{
    width: 324px;
    border-right: 1px solid @gray-color;
    position: absolute;
    top:0;
  }
}
@media @desktop-width {
  .impression-fieldset{
    width: 535px;
  }
}
