.introduction {
  padding: 20px 0 10px;
  background: #ffffff;
  text-align: center;

  :before {
    //стиль для треугольника
  }
}

@media @tablet-width{
  .introduction {
    width:700px;
    margin: -25px auto 0;
  }
}
