.main-width() {
  margin: 0 auto;
  box-sizing: border-box;

  @media @mobile-width {
    width: 320px;
  }

  @media @tablet-width {
    width: 768px;
  }

  @media @desktop-width {
    width: 1200px;
  }
}

.clearfix {
  &:after {
    content: "";
    display:block;
    clear:both;
  }
}
.inline-middle{
  display: inline-block;
  vertical-align: middle;
}

.border-none{
  border: none;
  outline:none;
}

.font-bold{
  font-family: 'PT Sans Bold';
  @media @mobile-width {
    font-size: 18px;
  }
  @media @tablet-width {
    font-size: 21px;
  }
}

.text-input{
  padding: 18px 20px;
  background: @input-background-color;

  &:hover{
    background: @input-background-hover;
    cursor: pointer;
  }

  &:focus{
    background: @white-color;
    box-shadow: inset 0 0 0 4px @input-background-hover;
  }
}

.label{
  font-size: 14px;
  color: @label-color;
}

.bold-label{
  font-family: 'PT Sans Bold';
  font-size: 18px;
  text-transform: none;
}

.input-after{
  position: absolute;
  bottom:0;
  right: 0;
  display: block;
  width: 58px;
  height: 58px;
  content: "";

  @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @media @mobile-width {
      bottom:5px;
    }
  }
}

.button-states{
  background: @blue-color;
  color: @white-color;

  &:hover{
    cursor: pointer;
    background: @button-hover;
  }
  &:active{
    color: rgba(255, 255, 255, 0.6);
    background: @button-presed;
  }
}

.video-buttons-color(){
  @media @mobile-width {
    fill: @video-button-mobile;

    &:hover{
      fill: @video-button-mobile-hover;
      cursor: pointer;
    }

    &:active{
      fill: @video-button-mobile-active;
    }
  }

  @media @tablet-width {
    fill: @white-color;

    &:hover{
      cursor: pointer;
      fill: @video-button-hover;
    }

    &:active{
      fill: @video-button-active;
    }
  }
}
