.main-width() {
  margin: 0 auto;
  box-sizing: border-box;

  @media @mobile-width {
    width: 320px;
  }

  @media @tablet-width {
    width: 768px;
  }

  @media @desktop-width {
    width: 1200px;
  }
}

.clearfix {
  &:after {
    content: "";
    display:block;
    clear:both;
  }
}
.inline-middle{
  display: inline-block;
  vertical-align: middle;
}

.border-none{
  border: none;
  outline:none;
}

.font-bold{
  font-family: 'PT Sans Bold';
  font-weight: bold;
  @media @mobile-width {
    font-size: 18px;
  }
  @media @tablet-width {
    font-size: 21px;
  }
}

.text-input{
  padding: 18px 20px;
  background: @gray-background;
}
.label{
  font-size: 14px;
  color: @label-color;
}
.bold-label{
  font-family: 'PT Sans Bold';
  font-weight: bold;
  font-size: 18px;
  text-transform: none;
}

.input-after{
  position: absolute;
  bottom:0;
  right: 0;
  display: block;
  width: 58px;
  height: 58px;
  content: "";
}
