.page-footer {
  &__wrapper {
    .main-width();

    @media @mobile-width {
      padding: 40px 20px;
      text-align: center;
    }

    @media @tablet-width {
      .clearfix();
      padding: 35px 40px;
    }
  }

  &__copyright {
    @media @mobile-width {
      .inline-middle();
      margin: 40px 0 0 0;
    }

    @media @tablet-width {
      .inline-middle();
      margin: 0 0 0 122px;
    }

    @media @desktop-width {
      margin: 0 0 0 350px;
    }
  }

  &__htmlacademy {
    .inline-middle();
    width: 27px;
    height: 34px;
    content: "";
    margin: 0 0 0 10px;

    @media @mobile-width {
      margin-top: 40px;
    }

    path {
      fill: @black-color;
    }

    &:hover path {
      cursor: pointer;
      fill: @blue-color;
    }

    &:active path {
      fill: @gray-svg-color;
    }
  }

  .page-footer__note {
    @media @mobile-width {
      margin: 0 0 40px 0;
    }

    @media @tablet-width {
      .inline-middle();
      margin: 0 112px 0 20px;
    }

    @media @desktop-width {
      .inline-middle();
      margin: 0 255px 0 90px;

    }
  }
}
