.page-footer {
  &__wrapper {
    .main-width();
    padding: 40px 20px;
  }

  &__note {
    margin: 0 0 40px 0;
  }

  &__copyright {
    margin: 40px 0 0 0;
  }
}

@media @tablet-width and @desktop-width {
  .page-footer {
    &__wrapper {
      .main-width();
      .clearfix();
      padding: 35px 40px;
    }
    &__note{
      .inline-middle();
      margin: 0 255px 0 90px;
    }
    &__copyright{
      .inline-middle();
      margin: 0 0 0 350px;
    }
  }
}
