.panorama {
  width: 100%;
  background: url('@{imagesPath}bg-back-mobile.jpg') no-repeat;
  background-size: cover;

  &--main {
    height: 389px;
    background-position: center center;
  }

  &--mini {
    height: 160px;
    background-position: 140px 140px;
  }
}

@media @desktop-width and @tablet-width {
  .panorama {
    height: 518px;
  }
  &:after{
    //стиль для скоса под панорамой
  }

}
