.personal-data-fieldset{
  &__field-wrapper:not(:last-child){
    margin: 0 0 20px 0;
  }
}

@media @mobile-width {
}

@media @tablet-width{
  .personal-data-fieldset{
    width: 298px;
    padding-left: 440px;
    text-align: right;

    &__input{
      .inline-middle();
      width: 150px;
    }

    &__label{
      margin: 0 20px 0 0;
    }
  }
}
@media @desktop-width {
  .personal-data-fieldset{
    width: 535px;
    padding-left: 600px;

    &__input{
      .inline-middle();
      width: 190px;
    }
  }
}
