.reasons {

  &__item--primary {
    padding: 45px 0 45px;
  }

  &__item--secondary {
    padding: 30px 0;
  }
  &__item--secondary:first-child {
      padding: 5px 0 30px;
    }

    &__item--secondary:last-child {
      padding: 30px 5px;
    }
}

.reasons--primary {
  background: #81b3d2;
}

.reasons--secondary {
  background: #999999;
}
.reasons--triangle {
  :before {
    display:block;
    content: "";
    padding: 0 0 10px 0;
    //стиль для треугольника
  }
}