.reasons {

  &__item--primary {
    padding: 45px 0 10px;
  }

  &__item--secondary {
    padding: 30px 0;
  }
  &__item--secondary:first-child {
      padding: 5px 0 30px;
    }

    &__item--secondary:last-child {
      padding: 30px 5px;
    }
}
