.reasons {
  display: flex;
  @media @mobile-width {
    text-align: center;
    flex-direction: column;
  }
  @media @tablet-width {

  }
  &__item{
    box-sizing: border-box;
  }
  &__item--primary {
    @media @mobile-width {
      padding: 20px 0;
    }
    @media @tablet-width {
      width: 257px;
      padding: 15px 0;
    }
    @media @desktop-width {
      width: 400px;
      padding: 20px 0;
     // height: 256px;
    }
  }
  &__item--secondary{
    @media @mobile-width {
      padding: 35px 0;

      &:not(:last-child){
        border-bottom: 1px solid @gray-border;
      }
    }
    @media @tablet-width {
      width: 180px;
    }
    @media @desktop-width {
      width: 270px;
    }
  }

  &__header{
    @media @mobile-width{
      margin: 0 0 25px;
    }
    @media @tablet-width {
      margin: 0 auto 30px;
      width: 120px;
    }
  }
  &__title{
    margin: 0 0 17px;
  }
  p{
    margin: 0;
  }

  /*img:after{
    display: block;
    .clearfix();
  }*/
}
.reasons--primary {
  background: @blue-color;
  color: #ffffff;

  @media @tablet-width {
    float: right;
  }
}
.reasons--secondary {
  background: @gray-color;

  @media @mobile-width {
    padding: 0 20px;
  }

  @media @tablet-width {
    justify-content: space-between;
    padding: 50px;
  }
  @media @desktop-width {
    padding: 50px 70px;

  }
}
.reasons--triangle {
  @media @mobile-width {
    &:before {
      display:block;
      width: 320px;
      height: 37px;
      position: absolute;
      top: -37px;
      padding: 0 0 10px 0;
      content: "";
      background: url("@{imagesPath}bg-triangle.svg") center center no-repeat;
      background-size: cover;
    }
  }
  @media @tablet-width {
    float: left;
  }
}
