.social-links{
  &__icon{
    display: inline-block;
    height: 18px;
    width: 20px;
    padding: 15px;
    background: @blue-color;
    color: #ffffff;
  }
}
@media @tablet-width {
  .social-links{
    .inline-middle();
  }
}
