@mobile-width: ~"(max-width: 320px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";

@blue-color: #81b3d2;
@gray-color: #eeeeee;
@baseFontSize: 14px;
@imagesPath: "/img/";
