@mobile-width: ~"(min-width: 300px) and (max-width: 767px)";
@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";

@white-color: #ffffff;
@black-color: #000000;
@blue-color: #81b3d2;

@gray-color: #eeeeee;
@gray-background: #f2f2f2;
@gray-border: #d6d6d6;
@gray-border-right: #dbdbdb;
@gray-svg-color: #b2b2b2;
@gray-input-button: #e6e6e6;
@gray-photo-note: #eaeaea;

@label-color:#333333;

@error-color: #ff5c5c;

@link-active: #cacaca;
@current-link: #766357;
@current-link-hover: #604e43;
@current-link-active: #dbd8d5;

@button-hover: #669ec0;
@button-disabled: #e5e5e5;
@button-presed: #5496bd;

@input-background-color: @gray-background;
@input-background-hover: @button-disabled;

@video-button-mobile: #5c6870;
@video-button-mobile-hover: @label-color;
@video-button-mobile-active: #c1c1c1;
@video-button-hover: #cccccc;
@video-button-active: #8b8b8b;


@baseFontSize: 14px;
@imagesPath: "../img/";
