.introduction {
  background: #ffffff;
  text-align: center;

  @media @mobile-width {
    padding: 15px 10px 0;
    line-height: 1.4;
  }

  @media @tablet-width {
    margin: 15px auto 18px;
    width: 680px;
  }

  p {
    margin: 0;
  }
}

