.panorama {
  width: 100%;
  background: @white-color no-repeat;
  display: flex;
  justify-content: center;

  @media @mobile-width {
    background-image: url("@{imagesPath}bg-intro-triangle-mobile.svg"),
    url("@{imagesPath}bg-back-mobile.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("@{imagesPath}bg-intro-triangle-mobile.svg"),
      url("@{imagesPath}bg-back-mobile@2x.jpg");
    }
  }

  @media @tablet-width {
    background-image: url("@{imagesPath}bg-intro-triangle-tablet.svg"),
    url("@{imagesPath}bg-back-desktop.jpg");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("@{imagesPath}bg-intro-triangle-tablet.svg"),
      url("@{imagesPath}bg-back-desktop@2x.jpg");
    }
  }

  @media @desktop-width {
    background-image: url("@{imagesPath}bg-intro-triangle-desktop.svg"),
    url("@{imagesPath}bg-back-desktop.jpg");


    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("@{imagesPath}bg-intro-triangle-desktop.svg"),
      url("@{imagesPath}bg-back-desktop@2x.jpg");
    }
  }

  &__text {
    @media @mobile-width {
      &--main {
        height: 210px;
        margin-top: 90px;
      }
      &-mini {
        height: 39px;
        margin-top: 55px;
      }
    }

    @media @tablet-width {
      &--main {
        margin-top: 78px;
      }
      &-mini {
        margin-top: 95px;
      }
    }
  }

  &--main {
    background-position: center bottom, center center;

    @media @mobile-width {
      height: 390px;
      background-size: cover, cover;
    }

    @media @tablet-width {
      background-size: 102%, cover;
      height: 516px;
    }

    @media @desktop-width {
      background-size: 1201px 57px, cover;
      background-position: -1px bottom, center center;
    }
  }

  &--mini {
    @media @mobile-width {
      background-position: center bottom, -60px -230px;
      background-size: cover, 126.66% 389px;
      height: 160px;
    }

    @media @tablet-width {
      background-position: center bottom, -90px -270px;
      background-size: 102%, 111.71875% 558px;
      height: 290px;
    }

    @media @desktop-width {
      background-position: -1px bottom, -90px -270px;
      background-size: 1201px 57px, 1290px 568px;
      height: 300px;
    }
  }
}

