.introduction {
  background: #ffffff;
  text-align: center;

  @media @mobile-width {
    padding: 15px 10px 0;
  }

  @media @tablet-width {
    margin: 0 auto;
    width: 680px;
  }

  p {
    margin: 0;
  }
}

