.page-footer {
  &__wrapper {
    .main-width();

    @media @mobile-width {
      padding: 40px 20px;
      text-align: center;
    }

    @media @tablet-width {
      .clearfix();
      padding: 34px 43px;
    }
  }

  &__copyright {
    @media @mobile-width {
      .inline-middle();
      margin: 40px 0 0 0;
    }

    @media @tablet-width {
      .inline-middle();
      margin: 0 0 0 118px;
    }

    @media @desktop-width {
      margin: 0 0 0 351px;
    }
  }

  &__htmlacademy {
    .inline-middle();
    width: 27px;
    height: 34px;
    fill: @black-color;
    content: "";
    margin: 0 0 0 10px;
    @media (-ms-high-contrast: none), (-ms-high-contrast: active) {
      margin: 0 0 0 5px;
    }

    @media @mobile-width {
      margin-top: 37px;
    }

    &:hover {
      cursor: pointer;
      fill: @blue-color;
    }

    &:active {
      fill: @gray-svg-color;
    }
  }

  .page-footer__note {
    @media @mobile-width {
      font-size: 21px;
      margin: 0 0 35px 0;
    }

    @media @tablet-width {
      .inline-middle();
      margin: 0 105px 0 20px;
    }

    @media @desktop-width {
      .inline-middle();
      margin: 0 252px 0 90px;

    }
  }
}
